.nav {
  transition: all 0.5s;
}
.nav-link {
  font-size: 1.6rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}
nav hr {
  height: 10px;
  background-color: white;
  border-radius: 20px;
  width: 20%;
  margin: 0 50%;
  transform: translateX(-50%);
}
