.contact {
  width: 100%;
  height: 90vh;
}
.contact__fixed {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #d7d9d7;
  padding-top: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .container {
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}
.contact-body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.contact-body input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #3d403f;
  transition: ease-in-out 0.3s;
}
.contact-body input:focus {
  background-color: transparent;
  outline: none;
  border: none;
}
.contact-body input:focus,
.contact-body input:focus-visible {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #9fa6a5;
}
.contact-body input::ac {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #3d403f;
}
.contact-body .button {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 20px;
  color: #333;
  font-size: 1.3rem;
  font-weight: 500;
  transition: ease-in-out 0.3s;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #3d403f;
}

.contact-body .button:hover {
  background-color: #3d403f;
  color: #d7d9d7;
}

.contact__title p {
  font-weight: 700;
  text-transform: uppercase;
  color: #3d403f;
}
.contact__footer {
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.contact__footer a {
  color: #3d403f;
  text-decoration: none;
  padding: 5px 10px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
}
