.main {
  height: max-content;
  background-color: #333;
  z-index: 10;
}
.main-title {
  margin-bottom: 150px;
}
.main-title {
  margin-bottom: 50px;
}
.main-content-first {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.main-content-sub {
  font-size: 16px;
}

.marquee p {
  font-size: 30px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .main-title {
    margin-bottom: 150px;
  }
  .main-content-first {
    font-size: 30px;
    margin-bottom: 100px;
  }
  .main-content-sub {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .main-title {
    margin-bottom: 150px;
  }
}

@media (min-width: 1400px) {
}
